<link rel="stylesheet" href="/css/estilo.css">

<h1>@ViewBag.Pais.nombre</h1>
<img src="/imagenes/@ViewBag.Pais.imgBandera">

<p>Población: @ViewBag.Pais.poblacion</p>
<p>Fecha de Independencia: @ViewBag.Pais.fechaIndependencia</p>
<p> Atracción Turística: @ViewBag.Pais.atractivosTuristicos </p>
<p></p>

