@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/estilo.css">

<h1>Información sobre algunos paises :D</h1>
<h2>Clickea para saber más</h2>
<div class = bandera>
@foreach (Pais pais in ViewBag.listaPaises)
{
    <a href='@Url.Action("DetallePais", new {nombrePais=pais.nombre})'> <img src="/imagenes/@pais.imgBandera"> </a>
}
</div>